* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    background-color: $black;
    overflow-x: hidden;
}

body {
    min-height: 100vmax;
    position: relative;
    margin: 0;
    @media (max-width: 768px) {
        overflow-x: hidden;        
    }
}